
<div class="footer-wrap">
  <div class="container">
    <div class="footer">
      <div class='wsite-elements wsite-footer'>
        <div>
          <div class="wsite-multicol">
            <div class="wsite-multicol-table-wrap" style="margin:0 -25px;">
              <table class="wsite-multicol-table">
                <tbody class="wsite-multicol-tbody">
                  <tr class="wsite-multicol-tr">
                    <td class="wsite-multicol-col" style="width:21.683168316832%; padding:0 25px;">



                      <div class="paragraph" style="text-align:center;"><span><font color="#d5d5d5">(713) 320-0303</font><br /><a href="mailto:general@swagtocollege.org"><font color="#d5d5d5">general@swagtocollege.org</font></a></span></div>



                    </td>
                    <td class="wsite-multicol-col" style="width:78.316831683168%; padding:0 25px;">



                      <div>
                        <div class="wsite-multicol">
                          <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                            <table class="wsite-multicol-table">
                              <tbody class="wsite-multicol-tbody">
                                <tr class="wsite-multicol-tr">
                                  <td class="wsite-multicol-col" style="width:58.385093167702%; padding:0 15px;">



                                    <div>
                                      <div class="wsite-multicol">
                                        <div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
                                          <table class="wsite-multicol-table">
                                            <tbody class="wsite-multicol-tbody">
                                              <tr class="wsite-multicol-tr">
                                                <td class="wsite-multicol-col" style="width:50.425531914894%; padding:0 15px;">



                                                  <div style="text-align:left;">
                                                    <div style="height:10px;overflow:hidden"></div>
                                                    <span class="wsite-social wsite-social-default"><a class='first-child wsite-social-item wsite-social-facebook' href='http://facebook.com/swagtocollege' target='_blank'><span class='wsite-social-item-inner'></span></a>
                                                    <a class='wsite-social-item wsite-social-mail' href='mailto:general@swagtocollege.org' target='_blank'><span class='wsite-social-item-inner'></span></a>
                                                    <a class='wsite-social-item wsite-social-twitter' href='http://TWITTer.com/swagtocollege' target='_blank'><span class='wsite-social-item-inner'></span></a>
                                                    <a class='wsite-social-item wsite-social-instagram' href='http://instagram.com/swagtocollege' target='_blank'><span class='wsite-social-item-inner'></span></a>
                                                    <a class='last-child wsite-social-item wsite-social-youtube' href='https://www.youtube.com/channel/UCU-l_AiYtxU-7uIWxEW40Sg'
                                                     target='_blank'><span class='wsite-social-item-inner'></span></a>
                                                    </span>
                                                    <div style="height:10px;overflow:hidden"></div>
                                                  </div>



                                                </td>
                                                <td class="wsite-multicol-col" style="width:49.574468085106%; padding:0 15px;">



                                                  <div class="paragraph" style="text-align:left;">
                                                    <font size="1">Copyright 2017 SWAG TO COLLEGE&nbsp;&copy;</font>
                                                  </div>



                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>



                                  </td>
                                  <td class="wsite-multicol-col" style="width:41.614906832298%; padding:0 15px;">

                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>



                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end container -->
</div>
<!-- end footer-wrap -->