<div *ngIf="selectedView!='landing'">
<button (click)="changeView('who')">Who we Are</button>
<button (click)="changeView('meet')">Meet The Team</button>
<button (click)="changeView('contact')">Contact Us</button>
<button (click)="changeView('statistics')">Statistcs</button>
</div>
<div class="container">

<div class="view" *ngIf="selectedView=='landing'">


  <div class="viewTitle">
    About Us
  </div>
<div class="landing">
  <button (click)="changeView('who')">Who we Are</button>
<button (click)="changeView('meet')">Meet The Team</button>
<button (click)="changeView('contact')">Contact Us</button>
<button (click)="changeView('statistics')">Statistcs</button>
</div>


</div>
<!-- End of Landing-->
<div class="view" *ngIf="selectedView=='who'">

  <div class="viewTitle">
    Who We Are
  </div>


  <h2 class="wsite-content-title" style="text-align:left;">
    <span style="font-weight: normal;">Our Story</span>
  </h2>

  <div class="paragraph" style="text-align:left;">
    <font color="#073763">In February 2015, Raj Salhotra, one of our co-founders, went out for lunch. He noticed the cashier seemed to be in high-school,
      so Raj asked him his goals. He told Raj that he was a 12th grade student and aspired to attend college but felt it
      was too expensive. Raj explained the resources available to him, the Pell Grant and the FAFSA. &nbsp;This student had
      real dreams, but the lack of information could have left those goals unfulfilled. &nbsp;Raj shared this interaction
      with Jamal, and they devised a plan to assist low-income and first generation students with matriculating to college.
      <br />
      <br />Raj and Jamal, however, immediately realized they could not do this alone. They recruited several college students
      from Houston Independent School District (HISD), YES Prep, and KIPP to serve as the initial mentors. Today, many of
      those same students form the core SWAG To College Leadership Team, and their perspectives, experiences, and beliefs
      are invaluable to helping SWAG To College succeed. Quite simply, without our college student Leadership Team members,
      SWAG To College could not serve students effectively.&nbsp;</font>
    <br />
  </div>



  <h2 class="wsite-content-title" style="text-align:left;">
    <span style="font-weight:normal">Mission Statement</span>
  </h2>

  <div class="paragraph">
    <font color="#073763">Our mission is to provide near-pear mentorship for underserved high school and college students to help them matriculate
      to college, graduate from college, and enter the workforce.</font>
  </div>

  <div class="paragraph" style="text-align:left;">
    <font color="#073763">Our vision is to close the achievement gap and ensure every underserved high school and college student is on the pathway
      to reach their goals.</font>
    <br />
  </div>

  <h2 class="wsite-content-title" style="text-align:center;">
    <span style="font-weight:normal">Core Values</span>
  </h2>


  <h2 class="wsite-content-title" style="text-align:center;">
    <font size="5">Service</font>
  </h2>

  <div class="paragraph">
    <span>
      <font color="#073763">Service is in the heart of all we do. Service means having the best interest of our community in mind at all times,
        and working tirelessly to ensure we serve the goals of our community. Service means prioritizing the quality of our
        organization for the good of mentors, mentees, schools, and parents purely because of our commitment to our mission.</font>
    </span>
  </div>


  <h2 class="wsite-content-title" style="text-align:center;">
    <font size="5">Diversity</font>
  </h2>

  <div class="paragraph">
    <span>
      <font color="#073763">SWAG To College is committed to diversity as it is defined through the intersection of education, age, ethnicity, income,
        ability, sexuality, stories, perspectives, and solutions. SWAG To College understands that diverse perspectives lead
        to more creative and dynamic ideas, actions, and outcomes that are representative of various needs and backgrounds.
        We also believe that promoting diversity in educational institutions and careers starts with our organization being
        a model of representation.</font>
    </span>
    <br />
    <br />
  </div>



  <h2 class="wsite-content-title" style="text-align:center;">
    <font size="5">Dependability</font>
  </h2>

  <div class="paragraph">
    <font color="#073763">Dependability means every member of the SWAG To College community is reliable, and we mean what we say. Moreover, every
      member is honest with every other member of our community and responds in a timely and professional manner. Finally,
      dependability includes taking responsibility and maintaining accountability for our mistakes and shortfalls. &#8203;</font>
  </div>



  <h2 class="wsite-content-title" style="text-align:center;">
    <font size="5">Accessibility</font>
  </h2>

  <div class="paragraph">
    <span>
      <font color="#073763">SWAG To College accepts and respects that not everyone wants or needs our mentorship or our traditional view of an
        academic path. SWAG To College is committed to equal access to opportunity, regardless of each student&rsquo;s academic
        achievements, background, or aspirations. Moreover, each member of SWAG To College pledges to be an accessible source
        of guidance and encouragement to any member who needs it.</font>
    </span>
  </div>

  <h2 class="wsite-content-title" style="text-align:center;">
    <font size="5">Team</font>
  </h2>

  <div class="paragraph">
    <span>
      <font color="#073763">The SWAG To College team includes several communities working toward our community&rsquo;s collective goals and our
        mentee&rsquo;s individual goals in a trusting and judgement-free environment. Specifically, our team includes not
        only the SWAG To College staff but also mentees, mentors, parents, and schools. Every member of the SWAG To College
        team is committed to the organization&rsquo;s mission and its development. As a team, we value every individual;
        we respect everyone&rsquo;s work ethic and habits, and we support every other team member.</font>
    </span>
  </div>

</div>
<!-- End of Who we are-->
<div class="view" *ngIf="selectedView=='meet'">

  <div class="viewTitle">
    Meet the Team
  </div>

  <div>
    <a>
      <img src="assets/img/meet-the-team_orig.jpg" alt="Picture" style="width:auto;max-width:100%" />
    </a>
    <div style="display:block;font-size:90%"></div>
  </div>

  <div style="height: 10px; overflow: hidden;"></div>
  <a class="wsite-button wsite-button-large wsite-button-highlight" href="leadership-team.html">
    <span class="wsite-button-inner">Leadership Team</span>
  </a>
  <div style="height: 10px; overflow: hidden;"></div>


  <div style="text-align:center;">
    <div style="height: 10px; overflow: hidden;"></div>
    <a class="wsite-button wsite-button-large wsite-button-highlight" href="think-tank.html">
      <span class="wsite-button-inner">Think Tank</span>
    </a>
    <div style="height: 10px; overflow: hidden;"></div>
  </div>


  <div style="text-align:center;">
    <div style="height: 10px; overflow: hidden;"></div>
    <a class="wsite-button wsite-button-large wsite-button-highlight" href="board-of-advisors.html">
      <span class="wsite-button-inner">Board of Advisors</span>
    </a>
    <div style="height: 10px; overflow: hidden;"></div>
  </div>



</div>
<!-- End of Meet the Team-->
<div class="view" *ngIf="selectedView=='contact'">

  <div class="viewTitle">
    Contact Us
  </div>



  <div class="paragraph" style="text-align:left;">
    <span>&#8203;</span>
    <strong style="color:rgb(9, 51, 93)">For general inquiries
      <br />
    </strong>
    <span>Raj Salhotra
      <br />Email: raj.salhotra@swagtocollege.org
      <br />&#8203;</span>
    <span style="color:rgb(9, 51, 93)">phone: 713-320-0303</span>
  </div>


  <div class="paragraph">
    <strong style="color:rgb(9, 51, 93)">Follow us on Social Media</strong>
  </div>

  <div>
    <div id="382262545560867352" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
      <a href="https://twitter.com/swagtocollege" class="twitter-follow-button" data-show-count="false">Follow @swagtocollege</a>
      <script async src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

  </div>

  <div>
    <div id="681273728470290456" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
      <div class="fb-follow" data-href="https://www.facebook.com/SWAGToCollege" data-width="200" data-height="50" data-layout="standard"
        data-size="small" data-show-faces="true"></div>
    </div>
  </div>


  <div class="paragraph" style="text-align:left;">
    <strong style="color:rgb(9, 51, 93)">High School Program
      <br />&#8203;&#8203;</strong>
    <span style="color:rgb(9, 51, 93)">Graciela Lopez
      <br />Email: graciela.lopez@swagtocollege.org</span>
  </div>

  <div class="paragraph" style="text-align:left;">
    <strong style="color:rgb(9, 51, 93)">Upperclassmen Program
      <br />&#8203;&#8203;</strong>
    <span style="color:rgb(9, 51, 93)">Jennifer Dzul
      <br />Email: jennifer.dzul@swagtocollege.org</span>
  </div>

  <div class="paragraph" style="text-align:left;">
    <strong style="color:rgb(9, 51, 93)">Young Professional Program</strong>
    <br />
    <span style="color:rgb(9, 51, 93)">Maddie Coles
      <br />&#8203;Email: maddie.coles@swagtocollege.org</span>
  </div>
</div>

<!-- End of Contact us-->
<div class="view" *ngIf="selectedView=='statistics'">
    <div class="viewTitle">Stats and maps</div>
</div>
</div>