<div class="container">
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active">
        <button>Home</button>
      </a>
    </li>
    <li>
      <a routerLink="/timeline" routerLinkActive="active">
        <button>Timeline</button>
      </a>
      <ul>
        <li><a href="#">Student</a></li>
        <li><a href="#">Parent</a></li>
        <li><a href="#">Student Spanish</a></li>
        <li><a href="#">Parent Spanish</a></li>
      </ul>
    </li>
    <li>
      <a routerLink="/blog" routerLinkActive="active">
        <button>Blog</button>
      </a>
    </li>
    <li>
      <a routerLink="/resources" routerLinkActive="active"><button>Resources</button></a>
      <ul>
                  <li><a href="#">College Resources</a></li>
                  <li><a href="#">Importdant Document</a></li>
                  <li><a href="#">Online Resources</a></li>
                  <li><a href="#">Parent Resources</a></li>
                </ul>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active"><button>About Us</button></a>
      <ul>
                  <li><a href="#">Who We Are</a></li>
                  <li><a href="#">Meet the Team</a></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Statistics</a></li>
                </ul>
    </li>
    <li>
      <a routerLink="/involved" routerLinkActive="active"> <button>Get Involved</button></a>
      <ul>
                  <li>one</li>
                  <li>two</li>
                  <li>three</li>
                  <li>four</li>
                </ul>
    </li>
  </ul>
</div>
