<div class="container">
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active">
        <button>Home</button>
      </a>
    </li>
    <li>
      <a routerLink="/timeline" routerLinkActive="active">
        <button>Timeline</button>
      </a>
      <ul>
        <li>
          <a routerLink="/timeline" (click)="setView('timeline','student')">Student</a>
        </li>
        <li>
          <a routerLink="/timeline" (click)="setView('timeline','parent')">Parent</a>
        </li>
        <li>
          <a routerLink="/timeline" (click)="setView('timeline','studentSP')">Student Spanish</a>
        </li>
        <li>
          <a routerLink="/timeline" (click)="setView('timeline','parentSP')">Parent Spanish</a>
        </li>
      </ul>
    </li>
    <li>
      <a routerLink="/blog" routerLinkActive="active">
        <button>Blog</button>
      </a>
    </li>
    <li>
      <a routerLink="/resources" routerLinkActive="active">
        <button>Resources</button>
      </a>
      <ul>
        <li>
          <a routerLink="/resources" (click)="setView('resources','college')">College Resources</a>
        </li>
        <li>
          <a routerLink="/resources" (click)="setView('resources','importantDocs')">Important Document</a>
        </li>
        <li>
          <a routerLink="/resources" (click)="setView('resources','online')">Online Resources</a>
        </li>
        <li>
          <a routerLink="/resources" (click)="setView('resources','parent')">Parent Resources</a>
        </li>
      </ul>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active">
        <button>About Us</button>
      </a>
      <ul>
        <li>
          <a routerLink="/about" (click)="setView('about','who')">Who We Are</a>
        </li>
        <li>
          <a routerLink="/about" (click)="setView('about','meet')">Meet the Team</a>
        </li>
        <li>
          <a routerLink="/about" (click)="setView('about','contact')">Contact Us</a>
        </li>
        <li>
          <a routerLink="/about" (click)="setView('about','statistics')">Statistics</a>
        </li>
      </ul>
    </li>
    <li>
      <a routerLink="/involved" routerLinkActive="active">
        <button>Get Involved</button>
      </a>
      <ul>
        <li>
          <a routerLink="/involved" (click)="setView('involved','hs')">High School Students</a>
        </li>
        <li>
          <a routerLink="/involved" (click)="setView('involved','school')">School Administration</a></li>
        <li>
          <a routerLink="/involved" (click)="setView('involved','college')">College Students</a>
        </li>
        <li>
          <a routerLink="/involved" (click)="setView('involved','parents')">Parents/Guardians</a>
        </li>
        <li>
          <a routerLink="/involved" (click)="setView('involved','yp')">Young Professionals</a>
        </li>
        <li>
          <a routerLink="/involved" (click)="setView('involved','community')">Community Leaders</a>
        </li>
        <li>
          <a routerLink="/involved" (click)="setView('involved','donate')">Make a Donation</a>
        </li>

      </ul>
    </li>
    </ul>
</div>
