<div *ngIf="selectedView !='landing'">
<button (click)="changeView('college')">College Resources</button>
<button (click)="changeView('online')">Online Resources</button>
<button (click)="changeView('importantDocs')">Important Document</button>
<button (click)="changeView('parent')">Parent Resources</button>
</div>

<div class="view" id="landing" *ngIf="selectedView=='landing'">

  <h2 class="wsite-content-title" style="text-align:center;">
    <font color="#248d6c">Resources</font>
  </h2>

<div id="itemWrapper">
 
  <div class="item" >
      <button (click)="changeView('college')">
      <h3>College Resources</h3>
   </button>
   <br>
      <span>This section contains information to reserach colleges including college fly-ins and full-need colleges.</span>
    </div>

    <div class="item" >
        <button (click)="changeView('online')">
        <h3>Online Resources</h3>
        </button>
        <br>
        <span >This section contains links to Khan Academy and Coursera tools to prepare for college.</span>
   
    </div>

  
      <div class="item" >
          <button (click)="changeView('importantDocs')">
        <h3>Important Documents</h3>
      </button>
      <br>
        <span>This section contains the various contracts and permission slips for SWAG mentors and mentees.</span>
      </div>


      <div class="item" >
      
        <button (click)="changeView('parent')">
          <h3>Parent Resources</h3>
        </button>
          <br>
            <span>This section contains helpful information for parents and a letter explaining SWAG To College.</span>
          
        </div>
      </div>
    </div>
    <!-- End of landing page-->
    <div class="view" *ngIf="selectedView=='college'">
      <div class="main-wrap">
        <div class="container">
          <div class="content-wrap">
            <div id="wsite-content" class="wsite-elements wsite-not-footer">
              <div class="wsite-content-title" style="text-align:center;">College Resources&nbsp;</div>

              <div class="paragraph" style="text-align:left;">
                <ol>
                  <li>
                    <u>
                      <a href="http://blog.collegegreenlight.com/blog/2015-college-fly-in-programs/#sthash.EiSJkXsl.dpbs">College Flyins</a>
                    </u>
                    <br />This link provides a list of colleges that offer fly-in programs. Fly-in programs are programs where
                    colleges fly seniors to visit their campus. If the student is accepted for the fly-in during their senior
                    year, the college will pay for the senior to come and visit.</li>
                  <li>
                    <u>
                      <a href="http://www.usnews.com/education/best-colleges/paying-for-college/articles/2015/09/14/colleges-that-report-meeting-full-financial-need">Full-Need Colleges</a>
                    </u>
                    <br />This link provides a list of colleges that are full-need schools. Full-need schools are colleges that
                    will pay all of a student's demonstrated financial need and thus are more affordable for low-income students.&nbsp;</li>
                  <li>
                    <u>
                      <a href="uploads/5/3/8/8/53885061/cp-videos-college-research.pdf">College Research</a>
                    </u>
                    <br />This link provides a list of questions that may help a student choose a college.</li>
                  <li>
                    <u>
                      <a href="http://www.simoncf.org/site/wp-content/uploads/2016/06/CP-Videos-COLLEGE-ESSAY.pdf" target="_blank">Essay Tips</a>
                    </u>
                    <br />This link provides tips for writing the college application essay.</li>
                  <li>
                    <u>
                      <a target="_blank" href="http://www.simoncf.org/site/wp-content/uploads/2016/06/CP-Videos-FINANCIAL-AID-OVERVIEW.pdf">College Financial Information</a>
                    </u>
                    <br />This link provides&nbsp;
                    <span>
                      <font color="#626262">information about work study, student loans, scholarships, the CSS profile, and FAFSA that may be new
                        to first-generation college applicants.</font>
                    </span>
                  </li>
                  <li>
                    <u>
                      <a target="_blank" href="http://www.simoncf.org/site/wp-content/uploads/2016/06/CP-Videos-DECIDING-WHICH-COLLEGE-TO-ATTEND.pdf">Tips on Handling College Application Results</a>
                    </u>
                    <br />
                    <font color="#626262">This link provides information about how to deal with college acceptances/rejections as well as tips
                      on how to choose the right college.</font>
                  </li>
                  <li>
                    <u>
                      <a target="_blank" href="http://www.simoncf.org/site/wp-content/uploads/2016/06/CP-Videos-COLLEGE-TRANSITION-PRIORITIES.pdf">Reminders for College Deadlines</a>
                    </u>
                    <br />
                    <font color="#626262">This link provides tips and reminders for the different college deadlines to stay on top of (this includes
                      financial documents, medical forms, etc).</font>
                  </li>
                </ol>
                <span>
                  <span>&#8203;</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Parent Resources-->
    <div class="view" *ngIf="selectedView=='online'">
      <div class="main-wrap">
        <div class="container">
          <div class="content-wrap">
            <div id="wsite-content" class="wsite-elements wsite-not-footer">
              <h2 class="wsite-content-title" style="text-align:center;">Online Resources</h2>

              <div class="paragraph" style="text-align:left;">
                <ol style="color:rgb(9, 51, 93)">
                  <li>
                    <u>
                      <a href="https://www.khanacademy.org/">Khan Academy</a>
                    </u>&#8203;
                    <br />Khan Academy is a free study resource. Students should create an account there to study for various classes.</li>
                  <li>
                    <u>
                      <a href="uploads/5/3/8/8/53885061/khanacademyresources_final.pdf" target="_blank">Khan Academy Resources</a>
                    </u>
                    <br />This document lists several college-related pages on the Khan Academy that will help students.</li>
                  <li>
                    <u>
                      <a href="https://www.khanacademy.org/test-prep/sat">Khan Academy SAT/PSAT studying</a>
                    </u>
                    <br />This link will help students prepare for the SAT and the PSAT.</li>
                  <li>
                    <u>
                      <a href="https://www.khanacademy.org/math">Khan Academy Math Page</a>
                    </u>
                    <br />This link will help students study and prepare for their math classes.</li>
                  <li>
                    <u>
                      <a href="https://www.coursera.org/">Coursera</a>
                    </u>
                    <br />Coursera is similar to Khan Academy in that it offers free online classes for students.</li>
                  <li>
                    <u>
                      <a href="https://www.coursera.org/learn/study-in-usa">Coursera College Application Class</a>
                    </u>
                    <br />This free class will help students understand the college application process.</li>
                  <li>
                    <u>
                      <a href="https://www.coursera.org/course/succeedincollege">Coursera College Success Class</a>
                    </u>
                    <br />This free class will help students navigate college and how to succeed there.</li>
                  <li>
                    <u>
                      <a href="http://www.bestcolleges.com/resources/sat-prep/" target="_blank">Best Colleges SAT Prep Guide</a>
                    </u>
                    <br />This resource provides students with strategies for doing their best on the SAT.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Parent Resources-->


    <div class="view" *ngIf="selectedView=='importantDocs'">
      <div class="main-wrap">
        <div class="container">
          <div class="content-wrap">
            <div id="wsite-content" class="wsite-elements wsite-not-footer">
              <h2 class="wsite-content-title" style="text-align:center;">Documents&nbsp;</h2>

              <div class="paragraph" style="text-align:left;">
                <ol>
                  <li>
                    <u>
                      <a target="_blank" href="uploads/5/3/8/8/53885061/waiver_form_mentees_2016.pdf">Permission Slip&shy;&shy;</a>
                    </u>
                    <br />This is the permission slip that we need all students to fill out before we pair them up with a mentor.
                    Please print this out and sign it and either email it back to
                    <span style="color:rgb(9, 51, 93)">general</span>
                    <span style="color:rgb(9, 51, 93)">@swagtocollege.org</span> OR text a picture of it to 713&shy;320&shy;0303.</li>
                  <li>
                    <u>
                      <a href="uploads/5/3/8/8/53885061/mentor_contract_october_2016.pdf">Mentor Contract&shy;&shy;</a>
                    </u>
                    <br />This is the contract that we need all the college mentors to fill out before we pair them up with a high
                    school student. Please print this out and sign it and either email it back to general@swagtocollege.org&nbsp;OR
                    text a picture of it to 713&shy;320&shy;0303.</li>
                  <li>
                    <u>
                      <a target="_blank" href="uploads/5/3/8/8/53885061/mentee_contract.pdf">Mentee Contract&shy;&shy;</a>
                    </u>
                    <br />This is the contract that we need all the high school mentees to fill out before we pair them up with
                    a high school student. Please print this out and sign it and either email it back to
                    <span style="color:rgb(9, 51, 93)">general</span>
                    <span style="color:rgb(9, 51, 93)">@swagtocollege.org</span> OR text a picture of it to 713&shy;320&shy;0303.&nbsp;</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Parent Resources-->
    <div class="view" *ngIf="selectedView=='parent'">
      <div class="main-wrap">
        <div class="container">
          <div class="content-wrap">
            <div id="wsite-content" class="wsite-elements wsite-not-footer">
              <h2 class="wsite-content-title" style="text-align:center;">Parent Resources&nbsp;</h2>

              <div class="paragraph" style="text-align:left;">
                <ol>
                  <li>
                    <u>
                      <a href="uploads/5/3/8/8/53885061/parent_letter_english.docx">Parent/Guardian Letter</a>
                    </u>
                    <br />This letter provides parents/guardians with information about the SWAG To College program. The letter
                    also contains the contact information for the SWAG To College Co-Founders, whom you contact with any
                    questions.&#8203;</li>
                  <li>
                    <u>
                      <a href="uploads/5/3/8/8/53885061/parent_letter_spanish_updated.docx">Padre/Tutor Carta&nbsp;</a>
                    </u>
                    <br />Esta carta provee a los padres / tutores con informaci&oacute;n sobre el programa de SWAG Para la Universidad.
                    La carta tambi&eacute;n contiene la informaci&oacute;n de contacto para el bot&iacute;n a la SWAG Para
                    la Universidad Co-Fundadores, a quienes se ponga en contacto con cualquier pregunta.</li>
                  <li>
                    <u>
                      <a href="uploads/5/3/8/8/53885061/fasfa_english_flyer_updated.pdf">Parent FAFSA Flyer</a>
                    </u>
                    <br />This flyer highlights important deadlines and information about the FAFSA. Reading this will help you
                    and your family understand the basics of the FAFSA.</li>
                  <li>
                    <u>
                      <a href="uploads/5/3/8/8/53885061/fasfa_flyer_spanish_updated.pdf">Padre FAFSA Folleto&nbsp;</a>
                    </u>
                    <br />Este folleto destaca los plazos importantes y la informaci&oacute;n sobre la FAFSA. Leer esto le ayudar&aacute;
                    a usted ya su familia a entender los fundamentos de la FAFSA.</li>
                  <li>
                    <u>
                      <a href="uploads/5/3/8/8/53885061/fafsaenglish.pdf">Parent FAFSA Details</a>
                    </u>
                    <br />This document details the FAFSA and explains each step parents need to take in order to help their children
                    navigate and complete the FAFSA. As compared to the flyer, this document is much more detailed and comprehensive.
                    &nbsp;</li>
                  <li>
                    <u>
                      <a href="uploads/5/3/8/8/53885061/fafsaspanish.pdf">Padre&nbsp;FAFSA Detalles</a>
                    </u>
                    <br />Este documento detalla la FAFSA y explica cada paso que los padres deben tomar para ayudar a sus hijos
                    a navegar y completar la FAFSA. En comparaci&oacute;n con el folleto, este documento es mucho m&aacute;s
                    detallado y completo.</li>
                  <li>
                    <a href="uploads/5/3/8/8/53885061/satact.docx" style="">
                      <u style="">SAT/ACT Explainer</u>
                    </a>
                    <br />This documents provides parents/guardians with information about the SAT and ACT and which test students
                    should take and how they can prepare for it.</li>
                  <li>
                    <u>SAT/ACT Explicador</u>
                    <br />Este documento proporciona a los padres / tutores informaci&oacute;n sobre el SAT y el ACT y qu&eacute;
                    pruebas deben tomar los estudiantes y c&oacute;mo pueden prepararse para &eacute;l.</li>
                  <li>
                    <u>
                      <a href="uploads/5/3/8/8/53885061/scholarships_and_grants.docx">Scholarships and Grants</a>
                    </u>
                    <br />This document provides parents/guardians with information on how their child can secure scholarships
                    and grants to help pay for college.</li>
                  <li>
                    <u style="">
                      <a href="uploads/5/3/8/8/53885061/scholarship_and_grants_spanish.docx">Becas y subvenciones</a>
                    </u>
                    <br />Este documento proporciona a los padres o tutores informaci&oacute;n sobre c&oacute;mo su hijo puede
                    obtener becas y subsidios para ayudar a pagar la universidad.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Parent Resources-->
