$primary-color: #09335D;
$secondary-color: white;
$link:#2a92e5;

#itemWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.item{
width:15em;
padding: 5em 5em 0 5em;

}

button{
    background-color:white;
    color:$link;
    border-style: solid;
    border-color: $link;
    height: 3em;
    width: 15em;
}
button:hover{
    background-color:$link;
    color:white;
}

