@media screen and (max-width:1024px) {
    #halfscreen-slider .wslide-caption-text { font-size: 40px!important; }
    #halfscreen-slider .wslide-overlay-top-right { top: 10%!important; }
    #halfscreen-slider .wslide-overlay-top-left { top: 10%!important; }
    }