@media screen and (max-width:360px) {
    #halfscreen-slider .wslide-caption-text { font-size: 15px!important; }
    #halfscreen-slider .wslide-overlay-top-right { top: 20%!important; }
    #halfscreen-slider .wslide-overlay-top-left { top: 20%!important; }
    }