<div class="container">

  <div class="logoWrap">
    <img id="swagLogo" src="assets/img/swag-logo-no-background_1.png" alt="SWAG to College" />
  </div>


  <hr>

  <div class="paragraph">
    Our vision is to close the achievement gap and ensure every underserved high school and college student has a pathway to
    reach their goals.
  </div>

    <div class="accordionWrap">
      <div class="accordion_slider">
        <ul class="slideShow">
          <li>
            <div class="image_box">
              <a href="http://www.houstonchronicle.com/news/houston-texas/houston/article/School-districts-focus-on-getting-students-ready-7962225.php">SWAG To College mentee heads to NYC!</a>
            </div>
            <img src="https://www.weebly.com/editor/uploads/5/3/8/8/53885061/custom_themes/843296560418810416/files/920x12402.jpg" />
          </li>
          <li>
            <div class="image_box">
              <a href="https://www.abqjournal.com/822011/mentors-encourage-big-dreams.html">SWAG To College enters New Mexico!</a>
            </div>
            <img src="https://www.weebly.com/editor/uploads/5/3/8/8/53885061/custom_themes/843296560418810416/files/a01_jd_08aug_mentors-640x4332.jpg"
            />
          </li>
          <li>
            <div class="image_box">
              <a href="http://www.bostonglobe.com/business/2016/07/04/does-boston-have-too-many-nonprofits-some-say-yes/XMnV259wjXdugZqrOl3CvI/story.html">SWAG To College enters Boston</a>
            </div>
            <img src="https://www.weebly.com/editor/uploads/5/3/8/8/53885061/custom_themes/843296560418810416/files/rathe_bottomline_biz022.jpg"
            />
          </li>
        </ul>
      </div>
    </div>
  

  <div class="gallery">
    <div class="items">
      <img src="assets/img/9074079_4_orig.png" alt="Picture" />
      <br>
      <button (click)="navInvolve('hs')">Opportunities for High School Students</button>

    </div>

    <div class="items">
      <img src="assets/img/jls-3197_orig.jpg" alt="Picture" />
      <br>
      <button (click)="navInvolve('community')">Opportunities for Community Leaders</button>
    </div>

    <div class="items">
      <img src="assets/img/20543_4_orig.png" alt="Picture" />
      <br>
      <button (click)="navInvolve('college')">Opportunities for College Students</button>
    </div>

    <div class="items">
      <img src="assets/img/jls-3073_orig.jpg" alt="Picture" />
      <br>
      <button (click)="navInvolve('parents')">Opportunities for Parents ​and Guardians</button>
    </div>

    <div class="items">
      <img src="assets/img/9769588_4_orig.png" alt="Picture" />
      <br>
      <button (click)="navInvolve('yp')">Opportunities for Young Professionals</button>
    </div>

    <div class="items">
      <img src="assets/img/jls-3344_1_orig.jpg" alt="Picture" />
      <br>
      <button (click)="navInvolve('school')">Opportunities for School Administration</button>
    </div>

  </div>

</div>
